body {
  font-family: Times New Roman;
  background: dark brown;
}

nav a {
  margin: 10px;
}

.product {
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}

/* Flexbox */
nav {
  display: flex;
}

/* Grid */
.product {
  display: grid;
}
